import React from 'react';

interface {{getComponentName}}Props {
    // Define props here if needed
}

const {{getComponentName}} = (props: {{getComponentName}}Props) => {
    return <div className="{{getComponentName}}">This is the {{getComponentName}} component</div>;
};

export default {{getComponentName}};
